
<%= @conversation %>
<div id="header">
  <%= @told %>
<%= @yourquestion %>
</div>
<div id="header">
<%= @coach %>
<%= @great %>
<%= @care %>
<%= @question %>
</div>
<div id="container">
<%= link_to "Continue conversation", about_path%>
</div>
